<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registartion</title>
</head>
<body>

    <form action="/Auth/register" method="post" style="display: inline-block; padding:2%; background-color: rgb(182, 182, 241);">
        <fieldset style="width: fit-content;">
        <h3>REGISTRATION FORM</h3>
        <label for="first_name">First Name</label><br>
        <input type="text" name="first_name" id="first_name"><br><br>

        <label for="last_name">Last Name</label><br>
        <input type="text" name="last_name" id="last_name"><br><br>

        <label for="email">Email</label><br>
        <input type="email" name="email" id="email"><br><br>

        <label for="password">Password</label><br>
        <input type="password" name="password" id="password"><br><br>

        <label for="password_confirm">Confirm Password</label><br>
        <input type="password" name="password_confirm" id="password_confirm"><br><br> <hr>

        <button type="submit">SUBMIT</button>
        </fieldset>
    </form><br>
    <a href="/">BACK HOME</a>
    {{#if message }}
    <h4>{{message}}</h4>
    {{/if}}

    <form action="/Auth/register" method="post">
    <label for="Name">First Name:
        <input type="text" name="name" id="name" required>
    </label>
    <label for="song">Song:
         <input type="text" name="song" id="song" required>
    </label>
    <label for="price">
        <input type="number" name="price" id="price" required>
    </label>
    
    <button type="submit">Submit</button>
    </form>
    {{#if message}}
    <h4>{{message}}</h4>
    {{/if}}
</body>
</html>