<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Form</title>
</head>
<body>
    
    <form action="/Auth/update_user/" method="post">
        <label for="name">
            <input type="text" name="name" id="name" value={{user.name}}>
        </label>
        <label for="song">
            <input type="text" name="song" id="song" value={{user.song}}>
        </label>
        <label for="price">
            <input type="price" name="price" id="price" value={{user.price}} readonly>
        </label>
    
        <button type="submit">
            Submit Changes
        </button>

    </form>
    {{#if message}}
        <h4>{{message}}</h4>
    {{/if}}

</body>
</html>